@using LidyCms.Common
@model LidyCms.Model.PicturesList
@{
    ViewBag.Title = "图文中心";
}
@section AddToHead{
   
}

<!-- ===== 正文内容 ===== -->
<div class="container">

    <div class="search_box">
        <input id="txtKeywords" name="txtKeywords" type="text" class="text" value="" />
        <input type="button" class="button" onclick="SiteSearch('/Search', '#txtKeywords');" />
    </div>

	<div class="clear"></div>
	<!-- ===== 面包屑与功能按钮 ===== -->
	<div class="bread_crumbs"><a href="@Url.Action("Index", "Index")">主页</a> &gt;
        <a href="@Url.Action("Index", "Picture", new { classId = 0 })">图文中心</a>@Html.Raw(ViewBag.Nav)
		<div class="right_function_key">
			<a href="javascript:void(0);" onclick="SetFontSize('.content_box', 12);">
            <img src="@Url.Content("~/Content/images/font_delete.png")" width="16" height="16" /> 缩小</a>
            <a href="javascript:void(0);" onclick="SetFontSize('.content_box', 16);">
            <img src="@Url.Content("~/Content/images/font_add.png")" width="16" height="16" /> 放大</a>
            <a href="javascript:window.print();"><img src="@Url.Content("~/Content/images/printer.png")" width="16" height="16" /> 打印</a>
		</div>
	</div>
	<!-- ===== 左侧正文 ===== -->
	<div class="page_left">
		@{
           if(ViewBag.classId>0)
           {
		     <h2 id="page_title">@ViewBag.ParentTitle</h2>
           }
        }
		<!-- ===== 图文列表 ===== -->
		<div class="page_product_list">
		    <ul>
                @foreach(var picture in Model.Pictureslist)
                {
                  <li>
                      <a href="@Url.Action("Detail", "Picture", new { id = picture.Id })">
                      <img src="@picture.ImgUrl" width="196" height="196" alt="@picture.Title" />@Utils.CutString(picture.Title, 26)
                      </a>
                  </li>
                }
		    </ul>
	    </div>
		<script type="text/javascript" src="@Url.Content("~/content/scripts/page/jquery.pagination.js")"></script>
		@Html.Raw(ViewBag.PagerText)
	</div>
	<!-- ===== 左侧子导航 ===== -->
	<div class="page_right">
		<h3>图文类别</h3>
		<ul class="sidebar_nav">
			@Html.Raw(@ViewBag.MenuList)
		</ul>
		<h3>推荐图文</h3>
		<ul class="sidebar_news">
            @foreach(var recommend in Model.RecommendList)
            {
              <li>
                  <a href="@Url.Action("Detail","Picture",new{id=recommend.Id})">@recommend.Title</a>
                  <i><span>@recommend.Adbanner.Count 评论</span>@recommend.AddTime</i>
              </li>
            }
		</ul>
	</div>
	<div class="clear"></div>
</div>
