@model List<LidyCms.Model.Pictures>
@{
    ViewBag.Title = "Index";
}
@section AddToHead{
    <link href="@Url.Content("/Content/Css/mosaic.css")" rel="stylesheet" type="text/css" />
}
<div class="main_body bg3">
    <div class="c1200 gift">
        <div class="title">
            <img alt="" src="@ViewBag.TopUrl" />
        </div>
         <p class="position">
            <span><a href="@Url.Action("Index","Index")">首页</a></span>&gt;
            <span><a href="@Url.Action("Index", "Picture")">爱的礼物</a></span>&gt;
            <span>@Model[0].Title</span>
        </p>
        <!-- 礼物列表 -->
        <div id="container">
            <div id="carousel">
            @foreach (var pic in Model)
            {
                <div class="mosaic-block bar">
                    <a href="@Url.Action("Detail", "Picture", new { id = pic.Id })" target="_blank" class="mosaic-overlay">
                        <div class="details">
                            <h4>@pic.Title</h4>
                            <p>@Html.Raw(pic.Content)</p>
                        </div>
                    </a>
                    <a href="@Url.Action("Detail", "Picture", new { id = pic.Id })">
                    <img src="@pic.PicturesAlbums[0].ImgUrl" /></a>
                </div>
            }
            </div>
            <a href="@Url.Action("Detail", "Picture")" id="ui-carousel-next"><span>next</span></a>
            <a href="@Url.Action("Detail", "Picture")" id="ui-carousel-prev"><span>prev</span></a>
        </div>
    </div>
</div>
<script src="@Url.Content("~/Content/Scripts/jquery.ui.core.min.js")" type="text/javascript"></script>
<script src="@Url.Content("~/Content/Scripts/jquery.ui.widget.min.js")" type="text/javascript"></script>
<script src="@Url.Content("~/Content/Scripts/jquery.ui.rcarousel.min.js")" type="text/javascript"></script>
<script src="@Url.Content("~/Content/Scripts/mosaic.1.0.1.js")" type="text/javascript"></script>
<script type="text/javascript">
    jQuery(function ($) {
        //滚动
        $("#carousel").rcarousel({
            margin: 10,
            visible: 3,
            width: 280,
            height: 280
        });
        $("#ui-carousel-next")
					.add("#ui-carousel-prev")
					.hover(
						function () {
						    $(this).css("opacity", 0.7);
						},
						function () {
						    $(this).css("opacity", 1.0);
						}
					)
                    .click(
                        function () {
                            //提示
                            $('.bar').mosaic({
                                animation: 'slide'		//fade or slide
                            });
                        }
                    );
        //提示
        $('.bar').mosaic({
            animation: 'slide'		//fade or slide
        });
        $(".details p").each(function () {
            $self = $(this);
            $self.text($self.text());
        });
    });
</script>
