@model LidyCms.Model.ContentList
@{
    ViewBag.Title = Model.Contents.Title;
}
@section AddToHead{
    
}
<!-- ===== 正文内容 ===== -->
<div class="container">
	
  <div class="search_box">
        <input id="txtKeywords" name="txtKeywords" type="text" class="text" value="" />
        <input type="button" class="button" onclick="SiteSearch('/Search', '#txtKeywords');" />
    </div>

	<div class="clear"></div>
	<!-- ===== 面包屑与功能按钮 ===== -->
	<div class="bread_crumbs"><a href="@Url.Action("Index", "Index")">主页</a> > @Model.ParentTitle
		<div class="right_function_key">
			<a href="javascript:void(0);" onclick="SetFontSize('.content_box', 12);">
            <img src="@Url.Content("~/Content/images/font_delete.png")" width="16" height="16" /> 缩小</a>
            <a href="javascript:void(0);" onclick="SetFontSize('.content_box', 16);">
            <img src="@Url.Content("~/Content/images/font_add.png")" width="16" height="16" /> 放大</a>
            <a href="javascript:window.print();"><img src="@Url.Content("~/Content/images/printer.png")" width="16" height="16" /> 打印</a>
		</div>
	</div>
	<!-- ===== 左侧正文 ===== -->
	<div class="page_left">
		<h2 id="page_title">@Model.Contents.Title</h2>
		<!-- ===== 编辑框内容 开始 ===== -->
		<div class="content_box">
			@Html.Raw(Model.Contents.Content);
		</div>
		<div class="addthis">
			<!-- JiaThis Button BEGIN -->
			<div id="ckepop"><a href="http://www.jiathis.com/share/" class="jiathis jiathis_txt jtico jtico_jiathis" target="_blank">分享</a><span class="jiathis_separator">|</span> <a class="jiathis_button_qzone"></a><a class="jiathis_button_tsina"></a><a class="jiathis_button_icons_1"></a><a class="jiathis_button_icons_2"></a></div>
			<script type="text/javascript" src="http://v1.jiathis.com/code/jia.js" charset="utf-8"></script>
			<!-- JiaThis Button END -->
		</div>
	</div>
	<!-- ===== 左侧子导航 ===== -->
	<div class="page_right">
		<h3>@Model.Contents.Title</h3>
		<ul>
            @foreach (var channel in Model.Contentlist)
            {
                <li><a href="@Url.Action(channel.CallIndex, "Content")">@channel.Title</a></li>
            }
		</ul>
		<h3>最新新闻</h3>
		<ul>
		    @foreach (var news in Model.News)
           {
           <li><a href="@Url.Action("Detail", "News", new { id = @news.Id })">@news.Title</a><i><span>@news.Adbanner.Count 评论</span>@news.AddTime</i></li>
           }
		</ul>
	</div>
	<div class="clear"></div>
</div>
