@model LidyCms.Model.All
@using LidyCms.Web.UI
@using  LidyCms.Common
@{
    BasePage bp = new BasePage();
    ViewBag.Title = bp.SiteConfig.WebName;
    ViewBag.Keywords = bp.SiteConfig.WebKeywords;
    ViewBag.Description = bp.SiteConfig.WebDescription;
}
@section AddToHead{
   <link rel="stylesheet" type="text/css" href="@Url.Content("~/content/css/jquery.slideBox.css")">
}
<!-- 正文内容  -->
<div class="container">

    <div class="search_box">
        <input id="txtKeywords" name="txtKeywords" type="text" class="text" value="" />
        <input type="button" class="button" onclick="SiteSearch('/Search', '#txtKeywords');" />
    </div>

    <!-- 焦点图 -->
    <div class="banner">
      <div id="slideBox" class="slideBox">
        <ul class="items">
            @foreach(var banner in Model.Adbanner)
            {
            <li><a href="@banner.LinkUrl"><img src="@banner.AdUrl"></a></li>
            }
        </ul>
      </div>
      <div class="clear"></div>
    </div>
    <div class="ad_text">
        <h2>关于LidyLidy网站内容管理系统</h2>
        @Html.Raw(Model.Contents.Content)
        <a href="@Url.Action("index_about", "Content")">查看更多内容</a>
    </div>
    <hr />
    <h2 class="h2_link"><a href="@Url.Action("Index", "Picture")">图文展示</a></h2>
    <div class="product_list">
        <ul>
          @foreach (var item in Model.PicturesModel)
          {
              <li><a href="@Url.Action("Index", "Picture")"><img src="@item.ImgUrl" width="196" height="196" alt="@item.Title" />@item.Title</a>
		      </li>
          }
        </ul>
    </div>
    <div class="clear"></div>
    <hr />
    <h2 class="h2_link"><a href="@Url.Action("Index", "News")">最新新闻</a></h2>
    <div class="news_list">
        <ul id="news_list">
          @foreach (var item in Model.NewsModel)
          {
              <li>
                        <a href="#">@item.Title</a><i>@item.AddTime</i>
                        <p>@Utils.CutString(item.Daodu, 84)</p>
             </li>
          }
        </ul>
    </div>
    <div class="clear"></div>
    <hr />
    <div class="other3">
        <ul>
            <li>
                <h3>产品展示</h3>
                <img src="@Url.Content("~/content/images/download.jpg")" width="244" height="93" alt="产品展示" />
                <ul id="index_download_list">
                    @foreach (var item in Model.ProductModel)
                    {
                         <li><a href="#">@item.Title</a></li>
                    }
                </ul>
                <a class="read_more" href="@Url.Action("Index", "Product")">Read more</a>
            </li>
            <li>
                <h3>留言反馈</h3>
                <img src="@Url.Content("~/content/images/feedback.jpg")" width="244" height="93" alt="在线留言" />
                <a class="read_more" href="@Url.Action("Index", "Feekback")">Read more</a>
            </li>
            <li>
                <h3>联系我们</h3>
                <img src="@Url.Content("~/content/images/contact.jpg")" width="244" height="93" />
                @Html.Raw(Model.Contact.Content)
                <a class="read_more" href="@Url.Action("contact", "Content")">Read more</a>
            </li>
        </ul>
    </div>
    <div class="clear"></div>
</div>
<!-- 正文结束 -->
<!-- 焦点图控件 -->
<script type="text/javascript" src="@Url.Content("~/content/scripts/plugins/jquery.slideBox.js")"></script>
<script type="text/javascript">
    //焦点图
    $('#slideBox').slideBox({
        direction: 'left',//left,top#方向
        duration: 0.3,//滚动持续时间，单位：秒
        easing: 'linear',//swing,linear//滚动特效
        delay: 5,//滚动延迟时间，单位：秒
        startIndex: 1//初始焦点顺序
    });
</script>