@using LidyCms.Common
@using LidyCms.Model
@using LidyCms.Web.UI
@model LidyCms.Model.ProductsList
@{
    ViewBag.Title = "产品系列";
}
@section AddToHead{
    
}
<!-- ===== 正文内容 ===== -->
<div class="container">
	
    <div class="search_box">
        <input id="txtKeywords" name="txtKeywords" type="text" class="text" value="" />
        <input type="button" class="button" onclick="SiteSearch('/Search', '#txtKeywords');" />
    </div>

	<div class="clear"></div>
	<!-- ===== 面包屑与功能按钮 ===== -->
	<div class="bread_crumbs"><a href="@Url.Action("Index", "Index")">主页</a> &gt;
        <a href="@Url.Action("Index", "Product", new { classId = 0 })">产品中心</a>@Html.Raw(ViewBag.Nav)
		<div class="right_function_key">
			<a href="javascript:void(0);" onclick="SetFontSize('.content_box', 12);">
            <img src="@Url.Content("~/Content/images/font_delete.png")" width="16" height="16" /> 缩小</a>
            <a href="javascript:void(0);" onclick="SetFontSize('.content_box', 16);">
            <img src="@Url.Content("~/Content/images/font_add.png")" width="16" height="16" /> 放大</a>
            <a href="javascript:window.print();"><img src="@Url.Content("~/Content/images/printer.png")" width="16" height="16" /> 打印</a>
		</div>
	</div>
	<!-- ===== 左侧正文 ===== -->
	<div class="page_left">
		<h2 id="page_title">产品中心</h2>
		<!-- ===== 产品列表 ===== -->
		<ul class="page_download_list">
            @foreach(var product in Model.Productlist)
            { 
			<li>
                <a href="@Url.Action("Detail","Product",new{id=product.Id})" class="img_in_list">
                <img src="@product.ImgUrl" alt="@product.Title" width="150" height="150" /></a>
                <a href="@Url.Action("Detail","Product",new{id=product.Id})">@product.Title</a>
                <i>@product.AddTime<span>@product.Adbanner.Count 评论</span></i>
				<p>@Utils.DropHTML(product.Content, 320) %></p>
			</li>
            }
		</ul>
        <script type="text/javascript" src="@Url.Content("~/content/scripts/page/jquery.pagination.js")"></script>
		@Html.Raw(ViewBag.PagerText)
	</div>
	<!-- ===== 左侧子导航 ===== -->
	<div class="page_right">
		<h3>产品类别</h3>
		<ul class="sidebar_nav">
			@Html.Raw(@ViewBag.MenuList)
		</ul>
		<h3>推荐产品</h3>
		<ul class="sidebar_news">
            @foreach(var recommend in Model.RecommendList)
            {
			 <li>
                 <a href="@Url.Action("Detail","Product",new{id=recommend.Id})">@recommend.Title</a>
                 <i><span>@recommend.Adbanner.Count 评论</span>@recommend.AddTime</i>
			</li>
            }
		</ul>
	</div>
	<div class="clear"></div>
</div>